/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    /*header style start*/
    header{
        padding: 15px 0px;
    }
    .menu ul li a{
        padding: 8px 0px 0px !important;
        text-align: right;
    }
     /*header style end*/
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    /*header style start*/
    .menu ul li a{
        padding: 8px 0px 0px !important;
        text-align: right;
    }
    /*header style end*/
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    /*header style start*/
    .menu ul li a{
        padding: 10px 0px 0px !important;
        text-align: right;
    }
    /*header style end*/
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px){}